<div class="container-fluid">

  <div class="row about-me">

    <div class="col-md-12 text-center">
      <div class="about-hero">
        <div class="text-center img-responsive stacey"></div>
        <h1 class="about-me-text">About me</h1>
      </div>
    </div>

  </div>

  <div class="row about-me-2"></div>

  <div class="row about-me-3">

    <div class="col-md-offset-2 col-md-8">
      <div class="about-me-paragraph">
        <p>Stacey Pacholczak is a licensed Personal Skin Care and Massage Therapist.  She offers more than the basic Spa Treatments.  When getting a massage you will know it is YOUR hour.  From Relaxing to Deeper Tissue Massage, she uses Retail and Professional Dermalogica Products, and 100% Pure Essential Oils.<br><br>When it comes to Skin Care she is all about healing, educating and correcting your skin, giving you the results you are looking to achieve, as well as your basic relaxing facial.<br><br>Founded in 2015, Get Pampered Mini Spa offers many services at an afforable price.  With modern and ancient techniquies, her one-on-one treatments are exculsive and one of a kind.<br><br>With Stacey, you will get the Spa experience WITHOUT the Resort Spa prices!<br><br><span class="about-button pull-right"><%= link_to "Contact me", welcome_contact_path %></span></p>
      </div>
    </div>

  </div>

</div>