.marketing-background-1 {
  background-color: #1d242c;
  padding: 15rem 0;
}

.marketing-background-2 {
  background-color: #ffffff;
  padding-top: 10rem;
  padding-bottom: 3rem;
}

.contact-page {
  background-image: image_url("wisconsin-lake-geneva-docks-at-dusk.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 600px;
  border-bottom: 15px double $blue;
}

.book-appointment {
  font-family: 'Clicker Script', cursive;
  color: #FFFFFF;
  z-index: 5;
  padding-top: 15rem;
  h1 {
  font-size: 60px;
  }
}

.contact-section {

}

.gmap {
  width: 100%;
  border: 15px solid #eee;
  margin-bottom: 15rem;
}

.location {
  padding-top: 115px;
  height: 500px;
}

.contact-title {
  font-family: 'Clicker Script', cursive;
  font-size: 50px;
}