.contact-page {
  background-image: image_url("IMG_0736.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 400px;
  border-bottom: 15px double $blue;
}

.book-appointment {
  font-family: 'Clicker Script', cursive;
  color: #FFFFFF;
  z-index: 5;
  padding-top: 15rem;
  h1 {
  font-size: 60px;
  }
}

.contact-section {
  border-bottom: 15px solid #eee;
}

.gmap {
  width: 100%;
  border: 15px solid #eee;
  margin-bottom: 15rem;
}

.location {
  padding-top: 115px;
  height: 500px;
}

.contact-title {
  font-family: 'Clicker Script', cursive;
  font-size: 50px;
}